{% extends "Tweetterapp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<center>
 <div class="content-section col-md-8 col-md-offset-2">
  
    <form method="POST" style="border: 1px solid black; margin: 4%; padding:10%; border-radius:1%;">
    {% csrf_token %}
    <img src="https://img.icons8.com/color/50/000000/twitter--v1.png"/>
    <img src='{{user.profile.image.url}}' alt='Profile' class='rounded-circle'>
    <fieldset class="form-group">
      <legend class='border border-bottom mb-4'>Write here</legend>
      {{ form|crispy}}
    </fieldset>
   <center>
    <button style="background: lightblue; font-size: 2rem; padding:1%;" class="btn btn-outline-info" type="submit"><span class="glyphicon glyphicon-log-in"></span> &nbsp; Tweet</button>
  </center>
  <br/>
 </form>
</center>
 </div>
{% endblock content %}
